* {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
}

/* header style */
header {
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
}
/* menu */
.menu {
    display: none;

}
.fa-bars {
    width: max-content;
    height: max-content;
    margin-left: 35px;
    
    font-size: 1.5rem;
}

/* Logo */
#container-logo {
    width: max-content;
    height: auto;
    margin-left: 20px;
}
#logo {
    font-size:1.5rem;
    font-weight: lighter;
    color: #2e4765;
}
#logo:hover {
    text-decoration: none;
}

/* Name user */
#container-name-user {
    width: max-content;
    height: auto;
    position: absolute;
    right: 35px;
}
#name-content-user {
    font-size:1.2rem;
    font-weight: lighter;
    color: #2e4765;
}

/* Content main- scree */
#container-element-content {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
}
main, 
aside {
    height: auto;
    min-height: calc(100vh - 11vh);
    display: flex;
    flex-direction: column;
    background-color: #efefef10;
}
main {
    width: 70%;
    float: left;
}
aside {
    width: 30%;
    float: right;
}

/* Main styel */
#content-elements {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 11vh);  
}
#overflow-x-container-cards {
    width: 75%;
    height: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
}
#container-cards-categ  {
    width: max-content;
    height: auto;
    display: flex;
    overflow-x: visible;
}
.card {
    width: max-content;
    padding: 13px 20px;
    background-color: #fff;
    margin: 0 20px;
    border-radius: 14px;
    border: none;
    display: flex;
    align-items: center;
    transition: .3s ease;
    -o-transition: .3s ease;
    -moz-transition: .3s ease;
    box-shadow: 0 .3em .5em #49494920;
}
.card:hover {
    box-shadow: 0 0 .3em .3em #efefef90;
}
.add-account {
    width: max-content;
    color: #2e4765;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.fa-plus,
.fa-level-up,
.fa-level-down {
    font-size: 1.5rem;
    margin-right: 7px;
}
.fa-plus {
    position: relative;
    top: 2px;
    color: #4169e1;
}
.fa-level-up {
    color: #5ec394;
}
.fa-level-down {
    color: #ff846e;
}

/* Container search content element */
#container-search-desp {
    width: 75%;
    height: 45px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
#case-input-search {
    width: 90%;
    height: 100%;
    background-color:#fff;
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 0 20px ;
    box-shadow: 0 .3em .5em #49494920;
}
.fa-search {
    width: max-content;
    height: auto;
    color: #2e4765;
    margin-right: 15px;
}
input[type="search"] {
    width: 100%;
    background-color: transparent;
    border-left: 1px solid #efefef;
    padding: 0 10px;
}

/* Container card info desp */
#container-info-desp {
    width: 75%;
    height: auto;
    min-height: 50vh;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 0;
}

.sub-container-elements {
    width: 95%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0 0 7px;
}
/* title  */
.title-element-desp {
    width: max-content;
    height: auto;
    float: left;
    color: #4169e1;
    font-weight: bold;
    font-size: 1.1rem;
}
/* container description */
.container-description-desp {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* category */
.category-desp {
    width: max-content;
    height: auto;
    padding: 5px 13px;
    color: #2e4765;
    border-radius: 12px;
}
.ret {
    background-color: #ff846e60;
}
.adep {
    background-color: #5ec39460;
}
/* money expend */
.qtde-desp {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    color: #2e4765;
    font-weight: 500;
}
/* container config icon */
.hidden-config-icon {
    width: 50px;
    height: 100%;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fa-cog {
    color: #2e4765;
    font-size: 1.4rem;
}
.item-config {
    width: max-content;
    height: auto;
    display: block;
    position: relative;
    top: 25px;
    left: 35px;
}

/* Config style aside */
#container-element-description-user {
    width: 100%;
    height: auto;
    min-height: 60vh;
    padding: 25px 0;
}

/* container money dep user */
#container-total-money {
    width: 95%;
    height: max-content;
    padding: 45px 25px;
    border-radius: 24px;
    background-color: #4169e1;
    box-shadow: 0 .3em .5em #49494920;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: visible;
}
#total-title {
    width: max-content;
    height: auto;
    padding-right: 15px;
    color: #efefef;
    font-size: 1.1rem;
    font-weight: bold;
}
#money-user-description {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}